Q1. Explain with an example each when to use a for loop and a while loop.

In [1]:
l=[2,4,6,7,8,'sudhir']
for j in l:
    print(j, type(j))

2 <class 'int'>
4 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
sudhir <class 'str'>

In [2]:
o = 5 
i = 1
while i < o :
    print(i)
    i = i+ 1

1
2
3
4

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [3]:
start_product=1
gape=1
while gape in range(1,11):
    start_product=start_product*gape
    gape=gape+1
start_product

3628800

In [4]:
start_sum1=0
gape1=1
for gape1 in range(1,11) :
    start_sum1=start_sum1+gape1
    gape1=gape+1
start_sum1

55

In [5]:
k=int(input('natural number'))
starting_sum=0
gap=1
while gap<=k :
    starting_sum=starting_sum+gap
    gap=gap+1
starting_sum

natural number 10

55

In [6]:
start_sum1=1
gape1=1
for gape1 in range(1,11) :
    start_sum1=start_sum1*gape1
    gape1=gape1+1
start_sum1

3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [7]:
bill=int(input('enter your electricity bill'))
if bill<=100 :
     print('price' , bill*4.5)
elif 100<bill<=200:
     print('price',(100*4.5)+(bill-100)*6)
elif 200<bill<=300:
     print('price',(100*4.5+100*6)+(bill-200)*10)
else :
     print('price',(100*4.5+100*6+100*10)+(bill-300)*20)

enter your electricity bill 310

price 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [8]:
n = int(input("enter your number"))
i = 1 
l3=[]

while i <= n  :
    result = i *i*i
    print(i ,result)
    i= i+1
    if (i*i*i)%4 == 0 or (i*i*i)%5==0 :
                l3.append(i)
l3

enter your number 100

1 1
2 8
3 27
4 64
5 125
6 216
7 343
8 512
9 729
10 1000
11 1331
12 1728
13 2197
14 2744
15 3375
16 4096
17 4913
18 5832
19 6859
20 8000
21 9261
22 10648
23 12167
24 13824
25 15625
26 17576
27 19683
28 21952
29 24389
30 27000
31 29791
32 32768
33 35937
34 39304
35 42875
36 46656
37 50653
38 54872
39 59319
40 64000
41 68921
42 74088
43 79507
44 85184
45 91125
46 97336
47 103823
48 110592
49 117649
50 125000
51 132651
52 140608
53 148877
54 157464
55 166375
56 175616
57 185193
58 195112
59 205379
60 216000
61 226981
62 238328
63 250047
64 262144
65 274625
66 287496
67 300763
68 314432
69 328509
70 343000
71 357911
72 373248
73 389017
74 405224
75 421875
76 438976
77 456533
78 474552
79 493039
80 512000
81 531441
82 551368
83 571787
84 592704
85 614125
86 636056
87 658503
88 681472
89 704969
90 729000
91 753571
92 778688
93 804357
94 830584
95 857375
96 884736
97 912673
98 941192
99 970299
100 1000000

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [9]:
l1=[]
for i in list(range(1,101)):
    print('cube',i*i*i)
    if (i*i*i)%4 == 0 or (i*i*i)%5==0 :
            l1.append(i)
l1

cube 1
cube 8
cube 27
cube 64
cube 125
cube 216
cube 343
cube 512
cube 729
cube 1000
cube 1331
cube 1728
cube 2197
cube 2744
cube 3375
cube 4096
cube 4913
cube 5832
cube 6859
cube 8000
cube 9261
cube 10648
cube 12167
cube 13824
cube 15625
cube 17576
cube 19683
cube 21952
cube 24389
cube 27000
cube 29791
cube 32768
cube 35937
cube 39304
cube 42875
cube 46656
cube 50653
cube 54872
cube 59319
cube 64000
cube 68921
cube 74088
cube 79507
cube 85184
cube 91125
cube 97336
cube 103823
cube 110592
cube 117649
cube 125000
cube 132651
cube 140608
cube 148877
cube 157464
cube 166375
cube 175616
cube 185193
cube 195112
cube 205379
cube 216000
cube 226981
cube 238328
cube 250047
cube 262144
cube 274625
cube 287496
cube 300763
cube 314432
cube 328509
cube 343000
cube 357911
cube 373248
cube 389017
cube 405224
cube 421875
cube 438976
cube 456533
cube 474552
cube 493039
cube 512000
cube 531441
cube 551368
cube 571787
cube 592704
cube 614125
cube 636056
cube 658503
cube 681472
cube 704969
cube 729000
cube 753571
cube 778688
cube 804357
cube 830584
cube 857375
cube 884736
cube 912673
cube 941192
cube 970299
cube 1000000

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [11]:
string = "I want to become a data scientist"

In [12]:
string.count('a')

4

In [13]:
string.count('e')

3

In [14]:
string.count('i')

2

In [15]:
string.count('u')

0